In [6]:
!pip install pandas 
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\amara\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\amara\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amara\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\amara\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\amara\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\amara\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\amara\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.1.1)

In [3]:
import pandas as pd
import numpy as np

In [9]:
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)

# Insights e Tratativas

In [10]:
students = pd.read_csv('data.csv', sep=';')
students.head()

   Marital status  Application mode  Application order  Course  Daytime/evening attendance\t  Previous qualification  Previous qualification (grade)  Nacionality  Mother's qualification  Father's qualification  Mother's occupation  Father's occupation  Admission grade  Displaced  Educational special needs  Debtor  Tuition fees up to date  Gender  Scholarship holder  Age at enrollment  International  Curricular units 1st sem (credited)  Curricular units 1st sem (enrolled)  Curricular units 1st sem (evaluations)  Curricular units 1st sem (approved)  Curricular units 1st sem (grade)  Curricular units 1st sem (without evaluations)  Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  Curricular units 2nd sem (evaluations)  Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  Curricular units 2nd sem (without evaluations)  Unemployment rate  Inflation rate   GDP    Target
0               1                17                  5     171                             1                       1                           122.0            1                      19                      12                    5                    9            127.3          1                          0       0                        1       1                   0                 20              0                                    0                                    0                                       0                                    0                          0.000000                                               0                                    0                                    0                                       0                                    0                          0.000000                                               0               10.8             1.4  1.74   Dropout
1               1                15                  1    9254                             1                       1                           160.0            1                       1                       3                    3                    3            142.5          1                          0       0                        0       1                   0                 19              0                                    0                                    6                                       6                                    6                         14.000000                                               0                                    0                                    6                                       6                                    6                         13.666667                                               0               13.9            -0.3  0.79  Graduate
2               1                 1                  5    9070                             1                       1                           122.0            1                      37                      37                    9                    9            124.8          1                          0       0                        0       1                   0                 19              0                                    0                                    6                                       0                                    0                          0.000000                                               0                                    0                                    6                                       0                                    0                          0.000000                                               0               10.8             1.4  1.74   Dropout
3               1                17                  2    9773                             1                       1                           122.0            1                      38                      37                    5                    3            119.6          1                          0       0                        1       0                   0                 20              0                                    0                                    6                                       8                                    6                         13.428571                                               0                                    0                                    6                                      10                                    5                         12.400000                                               0                9.4            -0.8 -3.12  Graduate
4               2                39                  1    8014                             0                       1                           100.0            1                      37                      38                    9                    9            141.5          0                          0       0                        1       0                   0                 45              0                                    0                                    6                                       9                                    5                         12.333333                                               0                                    0                                    6                                       6                                    6                         13.000000                                               0               13.9            -0.3  0.79  Graduate

In [11]:
students.shape

(4424, 37)

In [12]:
students.nunique().sort_values()

Daytime/evening attendance\t                        2
Displaced                                           2
Debtor                                              2
Educational special needs                           2
International                                       2
Scholarship holder                                  2
Gender                                              2
Tuition fees up to date                             2
Target                                              3
Marital status                                      6
Application order                                   8
Inflation rate                                      9
Curricular units 2nd sem (without evaluations)     10
Unemployment rate                                  10
GDP                                                10
Curricular units 1st sem (without evaluations)     11
Course                                             17
Previous qualification                             17
Application mode                                   18
Curricular units 2nd sem (credited)                19
Curricular units 2nd sem (approved)                20
Nacionality                                        21
Curricular units 1st sem (credited)                21
Curricular units 2nd sem (enrolled)                22
Curricular units 1st sem (enrolled)                23
Curricular units 1st sem (approved)                23
Mother's qualification                             29
Curricular units 2nd sem (evaluations)             30
Mother's occupation                                32
Father's qualification                             34
Curricular units 1st sem (evaluations)             35
Father's occupation                                46
Age at enrollment                                  46
Previous qualification (grade)                    101
Admission grade                                   620
Curricular units 2nd sem (grade)                  786
Curricular units 1st sem (grade)                  805
dtype: int64

In [14]:
students.Target.value_counts()

Target
Graduate    2209
Dropout     1421
Enrolled     794
Name: count, dtype: int64

In [16]:
students = students.query("Target != 'Enrolled'")
students.Target.value_counts()

Target
Graduate    2209
Dropout     1421
Name: count, dtype: int64

In [17]:
students.Target.value_counts(1)

Target
Graduate    0.60854
Dropout     0.39146
Name: proportion, dtype: float64

In [18]:
students['Target'] = students['Target'].map({'Graduate':0, 'Dropout':1})

In [19]:
students['Unemployment rate'] = students['Unemployment rate']/100
students['Inflation rate'] = students['Inflation rate']/100

In [21]:
students.groupby('Marital status')['Target'].mean()

Marital status
1    0.370116
2    0.547401
3    0.500000
4    0.560000
5    0.500000
6    0.800000
Name: Target, dtype: float64

In [22]:
students.groupby('Gender')['Target'].mean()

Gender
0    0.302394
1    0.561249
Name: Target, dtype: float64

In [23]:
students.groupby('Debtor')['Target'].mean()

Debtor
0    0.344731
1    0.755448
Name: Target, dtype: float64